<!-- Назва міста -->
<div>
  <div class="page-header">
        <h1>Назва міста</h1>
    </div>
    <div class="panel">
        <div class="form-inline">
            <!-- <div class="form-group">
                <div class="col-md-8">
                    <input class="number" [(ngModel)]="id" placeholder = "ID" />
                </div>
            </div> -->
            <div class="form-group">
                <div class="col-md-6">
                    <input type="form-control" class="form-control" [(ngModel)]="text" placeholder="Назва" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                  Столиця
                  <input type="checkbox" class="form-control" [(ngModel)]="boolean"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-default" (click)="addItem(text, boolean)">Додати</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Назва</th>
                    <th>Столиця</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cities">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td><input type="checkbox" [(ngModel)]="item.capital" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
  <div class="page-header">
    <h1>Площа міста</h1>
  </div>
    <div class="panel">
      <div class="form-inline">
        <div class="form-group">
          <div class="col-md-6">
            <input type="number" [(ngModel)]="ref_id" placeholder="ID міста" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <input type="number" [(ngModel)]="value" placeholder="м^2" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <input type="number" [(ngModel)]="year" placeholder="Рік" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <button class="btn btn-default" (click)="addItem_sq(ref_id, value, year)">Додати</button>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
            <tr>
              <th>ID</th>
              <th>ID міста</th>
              <th>м^2</th>
              <th>Рік</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cities_sq">
            <td>{{item.id_sq}}</td>
            <td>{{item.ref_id}}</td>
            <td>{{item.value}}</td>
            <td>{{item.year}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<div>
  <div class="page-header">
    <h1>Площа - Місто</h1>
  </div>
    <div class="panel">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>Місто</th>
              <th>Площа</th>
              <th>Рік</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of city_square">
            <td>{{item.name}}</td>
            <td>{{item.square}}</td>
            <td>{{item.year}}</td>
            <td><input type="checkbox" [(ngModel)]="item.capital" /></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
